body {
}
.linhas {
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
    margin-top:20px;
}
#MoverCentro{
    align-content:center;
}

h2 :hover{
        color:red;
}